body
  padding 10px
  font 14px 'Lucida Grande', Helvetica, Arial, Sans-Serif

a
  color #00B7FF

.status
  width 10px
  height 10px
  border-radius 6px
  border 1px solid silver
  background red
  &.on
    background green